doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        script(src="https://kit.fontawesome.com/d70c3347c5.js", crossorigin="anonymous")
        style
            include style.css
        title Chat App
    body
        div#app
            div#box_front
                img#icon_talk(src="public/image/icon_talk.png")
                form#frm_username
                    input(type="text" placeholder="사용할 아이디를 입력해주세요")
                    button 확인
            div#box_main
                nav
                    ul.list_menu
                        li#user_info
                        li#chat_info
                    i.fa-solid.fa-right-from-bracket.fa-lg#btn_logout(title="로그아웃")
                main
                    div#menu_top
                        div#btn_sort.noselect 채팅
                            i.fa-solid.fa-caret-down.fa-sm
                        ul#list_sort.hidden
                            li#ord_create.noselect 생성순
                            li#ord_name.noselect 이름순
                        ul.list_menu
                            li
                                i#btn_newChat.fa-solid.fa-comment-dots.fa-xl(title="새 채팅")
                            li.hidden
                                input#input_img(type="file" required)
                    form#frm_room.hidden
                        input(type="text", placeholder="새로운 채팅방 이름")
                    ul#list_room
            div#box_chat
                div#nav_chat
                    i#icon_exit.fa-solid.fa-arrow-right-from-bracket.fa-lg
                ul#list_msg
                form#frm_msg
                    textarea(tabindex="-1")
                    button(tabindex="-1") 전송  
            
    script(src="/socket.io/socket.io.js")
    script(src="public/js/app.js")